{% extends 'layout/base.html' %}

{% block title %}Trang Chủ{% endblock %}


{% block content %}
<div class="sidebar">
        <h2>Menu</h2>
        <ul>
            <li><a href="#home">
               <i class="fa-solid fa-house" style="color: #fcfcfd;"></i>
                Trang chủ</a></li>
            <li><a href="#about">Giới thiệu</a></li>
            <li><a href="#services">Đào tạo</a></li>
            <li><a href="#contact">Trung tâm</a></li>
            <li><a href="/dieuchinhlop">Quản lý học sinh</a></li>
            <li><a href="#contact">Thư viện - Tạp chí</a></li>
            <li><a href="#contact">Phòng - Cơ sở</a></li>
            <li><a href="#contac">Tuyển sinh</a></li>
        </ul>
    </div>
    <div class="content">
    </div>
{% endblock %}