{% extends 'layout/base_gv.html' %}

{% block title %}Nhập điểm{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/nhapdiem.css"/>
{% endblock %}

{% block content %}

<h2>NHẬP ĐIỂM</h2>
<div class="row">
    <div class="col-md-6">
        <label style="font-weight: bold;">Lớp</label>
        <br>
        <select id="lop" name="lop" required>
            <option value="">Chọn lớp</option>
            <option value="">10A1</option>
            <option value="">10A2</option>
            <option value="">10A3</option>
            <option value="">11A1</option>
            <option value="">11A2</option>
            <option value="">11A3</option>
            <option value="">12A1</option>
            <option value="">12A2</option>
            <option value="">12A3</option>
        </select>
    </div>
    <div class="col-md-6">
        <label style="font-weight: bold;">Môn học</label>
        <br>
        <select id="mon" name="mon" required>
            <option value="">Chọn môn</option>
            <option value="">Ngữ văn</option>
            <option value="">Toán</option>
            <option value="">Ngoại ngữ</option>
            <option value="">Vật lý</option>
            <option value="">Hóa học</option>
            <option value="">Sinh học</option>
            <option value="">Lịch sử</option>
            <option value="">Địa lý</option>
            <option value="">Giáo dục công dân</option>
            <option value="">Tin học</option>
            <option value="">Giáo dục quốc phòng và an ninh</option>
            <option value="">Công nghệ</option>
        </select>
    </div>
</div>
<br>
<div class="row">
    <div class="col-md-6">
        <label style="font-weight: bold;">Học kỳ</label>
        <br>
        <select id="hocki" name="hocki" required>
            <option value="">Chọn học kì</option>
            <option value="">Học kỳ 1 năm 2020-2021</option>
            <option value="">Học kỳ 2 năm 2020-2021</option>
            <option value="">Học kỳ 1 năm 2021-2022</option>
            <option value="">Học kỳ 2 năm 2021-2022</option>
            <option value="">Học kỳ 1 năm 2022-2023</option>
            <option value="">Học kỳ 2 năm 2022-2023</option>
            <option value="">Học kỳ 1 năm 2023-2024</option>
            <option value="">Học kỳ 2 năm 2023-2024</option>
        </select>
    </div>
    <div class="col-md-6 mt-2">
        <button type="submit" class="btn btn-primary">Tìm</button>
    </div>
</div>
<h3>Bảng điểm</h3>
<table class="table table-bordered mt-3">
    <thead>
    <tr>
        <th>ID</th>
        <th>Họ và tên</th>
        <th>Điểm 15 phút</th>
        <th>Điểm 1 tiết</th>
        <th>Điểm cuối kì</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<button type="submit" class="btn btn-primary">Lưu</button>
{% endblock %}