{% extends 'layout/base_admin.html' %}

{% block title %}Quản lý môn học{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/nhanvien.css"/>
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group btn-group-justified" role="group" style="width: 100%;">
                    <button type="button" class="btn btn-custom">Thêm</button>
                    <button type="button" class="btn btn-custom">Cập nhật</button>
                    <button type="button" class="btn btn-custom">Xóa</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}