{% extends 'layout/base_gv.html' %}

{% block title %}Xuất điểm{% endblock %}

{% block css %}
<link rel="stylesheet" href="/static/css/nhapdiem.css"/>
{% endblock %}

{% block content %}
<h2>XUẤT ĐIỂM</h2>
<label>Lớp</label>
<br>
<select id="lop" name="lop" required>
    <option value="">Chọn lớp</option>
    <option value="">10A1</option>
    <option value="">10A2</option>
    <option value="">10A3</option>
    <option value="">11A1</option>
    <option value="">11A2</option>
    <option value="">11A3</option>
    <option value="">12A1</option>
    <option value="">12A2</option>
    <option value="">12A3</option>
</select>
<br>
<br>
<label>Học kỳ</label>
<br>
<select id="hocki" name="hocki" required>
    <option value="">Chọn học kì</option>
    <option value="">Học kỳ 1 năm 2020-2021</option>
    <option value="">Học kỳ 2 năm 2020-2021</option>
    <option value="">Học kỳ 1 năm 2021-2022</option>
    <option value="">Học kỳ 2 năm 2021-2022</option>
    <option value="">Học kỳ 1 năm 2022-2023</option>
    <option value="">Học kỳ 2 năm 2022-2023</option>
    <option value="">Học kỳ 1 năm 2023-2024</option>
    <option value="">Học kỳ 2 năm 2023-2024</option>
</select>
<br>
<br>
<button type="submit" class="btn btn-primary">Tìm</button>
<br>
<br>
<table class="table table-bordered mt-3">
    <thead>
    <tr>
        <th>ID</th>
        <th>Họ và tên</th>
        <th>Lớp</th>
        <th>Điểm TB HK1</th>
        <th>Điểm TB HK1</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>
<br>
<button type="submit" class="btn btn-primary">Lưu</button>
{% endblock %}